<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.jmuthu.poovali">

    <uses-permission android:name="android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/watering_can"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="jmuthu.github.io"
                    android:pathPrefix="/Poovali"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlantDetailActivity"
            android:label="@string/title_activity_plant_detail"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jmuthu.poovali.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.AddPlantBatchActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.AddPlantActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activity.EventDetailActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jmuthu.poovali.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.BatchDetailActivity"
            android:parentActivityName=".activity.PlantDetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jmuthu.poovali.activity.PlantDetailActivity" />
        </activity>

        <receiver android:name=".AlarmReceiver" />


    </application>

</manifest>